.about {
    padding: 20px 0;
    background: #2e0d0d;
    color: white;
}

.about-container{
    display: flex;
}

.about-img {
    width: 45%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    
}

.about-img img {
    border-radius: 10px;
    width: 300px;
    height: 300px;
    object-fit: cover;
    transition: all 0.4s ease;
}

.about-img img:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(60,166,219,0.3);
}

@media (max-width:768px) {
    .about-img img{
        width: 280px;
        height: auto;
    }
    
}
